@model WPP.Model.ModuloContratos.ServicioModel

@{
    ViewBag.Title = "Eliminar Servicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:20px; ">
    <div class="col-md-3"></div>
    <div class="col-md-6 body-form">
        <h2>Eliminar Servicio</h2>

        @using (Html.BeginForm("Eliminar", "Servicio", FormMethod.Post, new { id = "frmEliminar", @Class = "form-horizontal" }))
        {
           

            @Html.HiddenFor(m => m.Id)
            <div class="form-group">
                <label for="Nombre">Nombre:</label>
                @Html.DisplayFor(m => m.Nombre, new { @Class = "form-control"})
            </div>
            <div class="form-group">
                <label for="Activo">Activo:</label>
                @Html.DisplayFor(m => m.Activo, new { @Class = "form-control"})
            </div>
          
            <button type="submit" class="btn btn-primary">Ok</button>
            @Html.ActionLink("Cancelar", "Index", "Servicio", null, new { @Class = "btn btn-primary" })

        }

    </div>
    <div class="col-md-3"></div>
</div>



