<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="FluentNHibernate" version="2.0.1.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net45" />
  <package id="NHibernate" version="4.0.3.4000" targetFramework="net45" />
  <package id="NHibernate.OracleManaged" version="1.0.1" targetFramework="net45" />
  <package id="odp.net.managed" version="121.1.1" targetFramework="net45" />
  <package id="Oracle.DataAccess.x86" version="2.112.1.0" targetFramework="net45" />
  <package id="Oracle.ManagedDataAccess" version="12.1.022" targetFramework="net45" />
  <package id="SD.LLBLGen.Pro.DQE.OracleMS" version="4.2.20150721" targetFramework="net45" />
  <package id="SD.LLBLGen.Pro.ORMSupportClasses" version="4.2.20150210" targetFramework="net45" />
</packages>