@{
    ViewBag.Title = "Nómina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row" style="margin-top:20px; ">
  
        <div class="col-md-12" style="padding-right:30px;">
            <br />
            <h3>Cargar Nómina</h3>
            <br />
            @using (Html.BeginForm("Importar", "Nomina", FormMethod.Post, new { id = "frmCargarNomina", @class = "form-horizontal form-cargar", enctype = "multipart/form-data" }))
            {


                <div class="form-group">
                    <label class="col-md-2" style="padding-left:0px;" >Archivo Excel <span title="Este campo es requerido" style="font-size:x-small" class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></label>
                    <div class="col-md-10">
                        <input type="file" name="excelfile" id="excelfile" style="display:inline" />
                        <a id="btnGuardar" class="btn btn-primary" style="display:none;"></a>
                        @Html.Raw(ViewBag.Error)    
                    </div>                                 
                </div>
                <div class="form-group">
                    <label class="col-md-2" style="padding-left:0px;">Descripción</label>
                    <div class="col-md-5">
                        @Html.TextBox("txtDescripcion", "", new { id = "txtDescripcion", @class = "form-control col-md-5" })    
                          </div>
                    <div class="col-md-1">
                        <button id="btnSubmit" type="submit" class="btn btn-primary">Importar  <span class="glyphicon  glyphicon-upload" aria-hidden="true"></span></button>
                    </div>
                </div>
                <div class="form-group" id="divPlanilla">
                    <label class="col-md-2" style="padding-left:0px;">Planilla</label>
                    <br /><br />
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tabbable" id="tabs-779403">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#panel-454895" data-toggle="tab">Lunes</a>
                                        </li>
                                        <li>
                                            <a href="#panel-696503" data-toggle="tab">Martes</a>
                                        </li>
                                        <li>
                                            <a href="#panel-696502" data-toggle="tab">Miércoles</a>
                                        </li>
                                        <li>
                                            <a href="#panel-696504" data-toggle="tab">Jueves</a>
                                        </li>
                                        <li>
                                            <a href="#panel-696505" data-toggle="tab">Viernes</a>
                                        </li>
                                        <li>
                                            <a href="#panel-696506" data-toggle="tab">Sábado</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active form-horizontal" id="panel-454895">
                                            <br />
                                            <div class="col-md-12 table-responsive" style="height:350px; overflow-y:auto">
                                                <table class="table table-hover" id="tabla-lunes">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Cod
                                                            </th>
                                                            <th>
                                                                Nombre
                                                            </th>
                                                            <th>
                                                                Entrada
                                                            </th>
                                                            <th>
                                                                Salida
                                                            </th>
                                                            <th>
                                                                Total hrs
                                                            </th>
                                                            <th>
                                                                Ord
                                                            </th>
                                                            <th>
                                                                Ext
                                                            </th>
                                                            <th>
                                                                Monto Ord
                                                            </th>
                                                            <th>
                                                                Monto Ext
                                                            </th>
                                                            <th>
                                                                Suma Ord + Ext
                                                            </th>
                                                            <th>
                                                                Toneladas
                                                            </th>
                                                            <th>
                                                                Compensación
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>   
                                        </div>
                                        <div class="tab-pane form-horizontal" id="panel-696503">
                                            <br />
                                            <div class="col-md-12 table-responsive" style="height:350px; overflow-y:auto">
                                                <table class="table table-hover" id="tabla-martes">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Cod
                                                            </th>
                                                            <th>
                                                                Nombre
                                                            </th>
                                                            <th>
                                                                Entrada
                                                            </th>
                                                            <th>
                                                                Salida
                                                            </th>
                                                            <th>
                                                                Total hrs
                                                            </th>
                                                            <th>
                                                                Ord
                                                            </th>
                                                            <th>
                                                                Ext
                                                            </th>
                                                            <th>
                                                                Monto Ord
                                                            </th>
                                                            <th>
                                                                Monto Ext
                                                            </th>
                                                            <th>
                                                                Suma Ord + Ext
                                                            </th>
                                                            <th>
                                                                Toneladas
                                                            </th>
                                                            <th>
                                                                Compensación
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>   
                                        </div>
                                        <div class="tab-pane form-horizontal" id="panel-696502">
                                            <br />
                                            <div class="col-md-12 table-responsive" style="height:350px; overflow-y:auto">
                                                <table class="table table-hover" id="tabla-miercoles">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Cod
                                                            </th>
                                                            <th>
                                                                Nombre
                                                            </th>
                                                            <th>
                                                                Entrada
                                                            </th>
                                                            <th>
                                                                Salida
                                                            </th>
                                                            <th>
                                                                Total hrs
                                                            </th>
                                                            <th>
                                                                Ord
                                                            </th>
                                                            <th>
                                                                Ext
                                                            </th>
                                                            <th>
                                                                Monto Ord
                                                            </th>
                                                            <th>
                                                                Monto Ext
                                                            </th>
                                                            <th>
                                                                Suma Ord + Ext
                                                            </th>
                                                            <th>
                                                                Toneladas
                                                            </th>
                                                            <th>
                                                                Compensación
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>   
                                        </div>
                                        <div class="tab-pane form-horizontal" id="panel-696504">
                                            <br />
                                            <div class="col-md-12 table-responsive" style="height:350px; overflow-y:auto">
                                                <table class="table table-hover" id="tabla-jueves">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Cod
                                                            </th>
                                                            <th>
                                                                Nombre
                                                            </th>
                                                            <th>
                                                                Entrada
                                                            </th>
                                                            <th>
                                                                Salida
                                                            </th>
                                                            <th>
                                                                Total hrs
                                                            </th>
                                                            <th>
                                                                Ord
                                                            </th>
                                                            <th>
                                                                Ext
                                                            </th>
                                                            <th>
                                                                Monto Ord
                                                            </th>
                                                            <th>
                                                                Monto Ext
                                                            </th>
                                                            <th>
                                                                Suma Ord + Ext
                                                            </th>
                                                            <th>
                                                                Toneladas
                                                            </th>
                                                            <th>
                                                                Compensación
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane form-horizontal" id="panel-696505">
                                            <br />
                                            <div class="col-md-12 table-responsive" style="height:350px; overflow-y:auto">
                                                <table class="table table-hover" id="tabla-viernes">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Cod
                                                            </th>
                                                            <th>
                                                                Nombre
                                                            </th>
                                                            <th>
                                                                Entrada
                                                            </th>
                                                            <th>
                                                                Salida
                                                            </th>
                                                            <th>
                                                                Total hrs
                                                            </th>
                                                            <th>
                                                                Ord
                                                            </th>
                                                            <th>
                                                                Ext
                                                            </th>
                                                            <th>
                                                                Monto Ord
                                                            </th>
                                                            <th>
                                                                Monto Ext
                                                            </th>
                                                            <th>
                                                                Suma Ord + Ext
                                                            </th>
                                                            <th>
                                                                Toneladas
                                                            </th>
                                                            <th>
                                                                Compensación
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane form-horizontal" id="panel-696506">
                                            <br />
                                            <div class="col-md-12 table-responsive" style="height:350px; overflow-y:auto">
                                                <table class="table table-hover" id="tabla-sabado">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Cod
                                                            </th>
                                                            <th>
                                                                Nombre
                                                            </th>
                                                            <th>
                                                                Entrada
                                                            </th>
                                                            <th>
                                                                Salida
                                                            </th>
                                                            <th>
                                                                Total hrs
                                                            </th>
                                                            <th>
                                                                Ord
                                                            </th>
                                                            <th>
                                                                Ext
                                                            </th>
                                                            <th>
                                                                Monto Ord
                                                            </th>
                                                            <th>
                                                                Monto Ext
                                                            </th>
                                                            <th>
                                                                Suma Ord + Ext
                                                            </th>
                                                            <th>
                                                                Toneladas
                                                            </th>
                                                            <th>
                                                                Compensación
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                </div>
            }
        </div>

    </div>



<script language="javascript" type="text/javascript">

    $(document).ready(function () {

        jQuery.validator.methods.date = function (value, element) {
            var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
            var isSafari = /Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor);
            if (isSafari || isChrome) {
                var d = new Date();
                return this.optional(element) || !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
            } else {
                return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
            }
        };

    
    });// end document ready



</script>