@{
    ViewBag.Title = "Nómina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row" style="margin-top:20px; ">
    <div class="col-md-2"> </div>
        <div class="col-md-8" style="padding-right:30px;">
            <br />
            <h3>Cargar Nómina</h3>
            <br />
            @using (Html.BeginForm("Cargar", "Nomina", FormMethod.Post, new { id = "frmCargarNomina", @class = "form-horizontal form-cargar", enctype = "multipart/form-data" }))
            {


                <div class="form-group">
                    <label class="col-md-2" style="padding-left:0px;">Archivo Excel <span title="Este campo es requerido" style="font-size:x-small" class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></label>
                    <div class="col-md-10">
                        <input type="file" name="excelfile" id="excelfile" style="display:inline" />
                        <a id="btnGuardar" class="btn btn-primary" style="display:none;"></a>
                        @Html.Raw(ViewBag.Error)
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2" style="padding-left:0px;">Descripción</label>
                    <div class="col-md-10">
                        @Html.TextBox("txtDescripcion", "", new { id = "txtDescripcion", @class = "form-control col-md-5" })
                    </div>      
                </div>
                <div class="form-group" style="float:right">
                        <button id="btnSubmit" type="submit" class="btn btn-primary">Importar  <span class="glyphicon  glyphicon-upload" aria-hidden="true"></span></button>        
                </div>
            }
        </div>
    <div class="col-md-2"> </div>
</div>



<script language="javascript" type="text/javascript">

    $(document).ready(function () {

        jQuery.validator.methods.date = function (value, element) {
            var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
            var isSafari = /Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor);
            if (isSafari || isChrome) {
                var d = new Date();
                return this.optional(element) || !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
            } else {
                return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
            }
        };

    
    });// end document ready

    $("#btnImportar").click(function () {

        $.ajax({
            url: '/Nomina/Importar',
            data: $('#frmCargarNomina').serializeArray(),
            type: 'POST',
            success: function (data) {
                if (data != null) {
                    
                }
                else {

                }
            },
            error: function (xhr, textStatus, errorThrown) {
            },
            traditional: true
        });
            
        
    });


</script>