@{
    ViewBag.Title = "Control de Operaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row" style="margin-top:20px; ">

    <div class="col-md-3"></div>
    <div class="col-md-6" style="padding-right:30px;">
        <br />
        <h3>Control de Operación Diario: Comparativo Horas Chofer / Horímetro</h3>
        <br />
        @using (Html.BeginForm("ComparativoHoras", "ControlOperaciones", FormMethod.Post, new { id = "frmRecoleccionDiario", @class = "form-horizontal" }))
        {
            <div class="form-group">
                <label class="col-md-2" style="padding-left:0px; padding-right:0px;">Desde </label>
                <div class="col-md-4">
                    @Html.TextBox("Desde", "", new { @class = "form-control", id = "Desde", @readonly = "readonly" })
                </div>
                <label class="col-md-2" style="padding-left:0px; padding-right:0px;">Hasta </label>
                <div class="col-md-4">
                    @Html.TextBox("Hasta", "", new { @class = "form-control", id = "Hasta", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2" style="padding-left:0px; padding-right:0px;">Tipo OTR</label>
                <div class="col-md-4">
                    @Html.DropDownList("ddlTipo", new List<SelectListItem>{
                    new SelectListItem() {Text = "Todos", Value="Todos"},
                    new SelectListItem() {Text = "Comercial", Value="Comercial"},
                    new SelectListItem() {Text = "Municipal", Value="Municipal"},
                    new SelectListItem() {Text = "Roll-Off", Value="Roll-Off"},
                    }, new { @class = "form-control", id = "ddlTipo" })
                </div>
            </div>
            <div class="col-12-md" style="float:right; padding-top:100px;">
                @*   <a id="btnReporteRecibos" class="btn btn-primary" disabled>Reporte de Recibos   <i class="fa fa-copy"></i></a>*@
                <a id="btnReporte" class="btn btn-primary">Reporte   <i class="fa fa-file-o"></i></a>
                <a id="btnExcel" class="btn btn-primary">Excel   <i class="fa fa-file-excel-o"></i></a>
                <button id="btnSubmit" type="submit" style="display:none;" class="btn btn-primary"></button>
                @Html.ActionLink("Cancelar", "ComparativoHoras", "ControlOperaciones", null, new { @Class = "btn btn-primary" })
            </div>
        }
    </div>

    <div class="col-md-3"></div>
</div>



<script language="javascript" type="text/javascript">

    $(document).ready(function () {


        jQuery.validator.methods.date = function (value, element) {
            var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
            var isSafari = /Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor);
            if (isSafari || isChrome) {
                var d = new Date();
                return this.optional(element) || !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
            } else {
                return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
            }
        };




        // Se inicializan los datos y controles necesario

        var today = new Date();
        $('#Desde').datepicker({
            format: 'dd/mm/yyyy',
            changeYear: true,
            startDate: new Date(today.getFullYear(), today.getMonth(), today.getDate())
        });

        $('#Hasta').datepicker({
            format: 'dd/mm/yyyy',
            changeYear: true,
            startDate: new Date(today.getFullYear(), today.getMonth(), today.getDate())
        });

    });// end document ready


    // Al dar click en el boton de buscar, obtiene los contratos que coincidan con el cliente o contrato ingresado
    $("#btnReporte").click(function () {

        var desde = $("#Desde").val();
        var hasta = $("#Hasta").val();
        var tipo = $("#ddlTipo").val();

        if (hasta != "" && desde != "") {
            var formato = "pdf";
            window.open("/ControlOperaciones/ReporteControlRecoleccionDiario?desde=" + desde + "&hasta=" + hasta + "&tipo=" + tipo + "&formato=" + formato + "&reporte=ComparativoHoras", 'mywindow', 'fullscreen=yes, scrollbars=auto');
        }
        else {
            swal("Datos incompletos", "Debe seleccionar un rango de fechas para proceder con la consulta", "error");
        }
    });

    // Al dar click en el boton de buscar, obtiene los contratos que coincidan con el cliente o contrato ingresado
    $("#btnExcel").click(function () {

        var desde = $("#Desde").val();
        var hasta = $("#Hasta").val();
        var tipo = $("#ddlTipo").val();


        if (hasta != "" && desde != "") {
            var formato = "excel";
            window.location.assign("/ControlOperaciones/ReporteControlRecoleccionDiario?desde=" + desde + "&hasta=" + hasta + "&tipo=" + tipo + "&formato=" + formato + "&reporte=ComparativoHoras");

        }
        else {
            swal("Datos incompletos", "Debe seleccionar un rango de fechas para proceder con la consulta", "error");
        }
    });



    // Este metodo se encarga de dar formato a la fecha para que se muestre en el listado
    function convertDate(inputFormat) {
        function pad(s) { return (s < 10) ? '0' + s : s; }
        var d = new Date(inputFormat);
        return [pad(d.getDate()), pad(d.getMonth() + 1), d.getFullYear()].join('/');
    }



</script>



